html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    /* background: linear-gradient(to left, #0b0b30, #000059); */
}

/* pour les nodes */
#nodesCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
}

/* section contributeur */
.contributors-section {
    text-align: center;
    padding: 60px 0;
    background-color: rgb(255, 255, 255);
}

.contributors-section h2 {
    color: #1a1f4d;
    font-size: 50px;
    margin-bottom: 30px;
}

.contributors-marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.contributors-items:hover {
    animation-play-state: paused;
}

.contributors-items {
    display: inline-block;
    animation: marquee 50s linear infinite;
    white-space: nowrap; 
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contributor-item {
    display: inline-block;
    margin: 0 80px;
    color: #777;
    font-size: 50px;
    font-weight: bold;
    cursor: help;
    transition: color 0.3s;
}

/* texte plus fonce au hover*/
.contributor-item:hover {
    color: #333;
}

/* main */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    z-index: 9999;
}

#main-header.scrolled {
    background: rgba(255, 255, 255, 0.8);
    color: #1a1f4d;    
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }

body {
    padding-top: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 17px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    color:#1a1f4d;
}

nav ul li a:hover {
    color: #f8e302;
}

h1 {
    margin: 0;
    color: #f8e302;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

h2 {
    font-size: 4rem;
}

.stars {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

#logo {
    text-decoration: none;
    color: #1a1f4d;
}

.content-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 60px 0;
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
}

.content-section:nth-child(odd) {
    flex-direction: row-reverse;
}

.text-content {
    flex: 1;
    padding: 20px;
    color: #1a1f4d;
    margin: 30px;
}

.images-content {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.images-content:hover {
    transform: scale(1.03);
}

.images-content img {
    width: 60%;
    height: auto;
    display: block;
}

.workspace {
    width: 580px;
    height: 350px;
}

.features {
    width: 500px;
    height: 450px;
}

.content1 {
    animation-delay: 0.2s;
}

.content2 {
    animation-delay: 0.4s;
}

.content3 {
    animation-delay: 0.6s;
}

.content4 {
    animation-delay: 0.8s;
}

.content5 {
    animation-delay: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    color: #1a1f4d;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.text-content p {
    text-align: right;
}


p:hover {
    transform: scale(1.08) translateX(10px);
    background: rgba(248, 228, 2, 0.009);
}

/* footer */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-color: #1a1f4d;
    z-index: 9999;
    padding: 15px 0;
}
.socialIcons{
    display:flex;
    justify-content: center;
    margin-top: 2px;;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    margin-top: 5px; 
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px 0; 
}
.footerNav ul li a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #1a1f4d;
    text-align: center;
    margin-top: 1px;
}
.footerBottom p{
    margin-top: 35px;
    color:white;
    opacity: 0.7;
    text-align: center;
}
.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}