.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(145deg, #1a1f4d, #0b0f2c);
    color: white;
}

.today {
    color: #ffd700;
}

.calendrier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #667eea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.change-mois {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.change-mois button {
    background-color: #ffffff00;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    width: 100px;
}

.change-mois button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.change-mois button:focus {
  border-color: #ffd700;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}
th {
    background-color: #667eea;
    color: white;
}

tr {
    font-size: 0.8rem;
}

#titre {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

caption {
    font-size: 1.2rem;
}

#montre-tache {
    background-color: #ffffff00;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    width: 40%;
}

#montre-tache:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#montre-tache:focus {
    border-color: #ffd700;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.ajout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.ajout-form label {
    font-size: 18px;
    margin: 10px;
}

.ajout-form input {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #667eea;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#ajouter-Tache {
    background-color: #ffffff00;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    margin-top: 20px;
    text-align: center;
    width: 40%;
}

#ajouter-Tache:focus {
    border-color: #ffd700;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

#ajouter-Tache:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: #ffd700;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.ajout-Tache {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 40%;
    opacity: 0;
    transform: scale(0.9);
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #667eea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}