.today {
    color: aqua;
}

.header {
    display: flex;
    justify-content: center;
    border: 4px solid;
    border-radius: 8px;
}

.calendrier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change-mois {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.change-mois button {
    background-color: #ffffff00;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #0f1111;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    width: 100px;
}

.change-mois button:hover {
  background-color: #deeaf0;
}

.change-mois button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}
th {
    background-color: #007BFF;
    color: white;
}

tr {
    font-size: 0.8rem;
}

#titre {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

caption {
    font-size: 1.2rem;
}

.ajout-Tache {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1000;
}

.ajout-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}


#close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


.show {
    visibility: visible;
}