body {
    margin: 0;
    min-height: 100vh; /**couvre toute l'hauteur de l'ecran **/
    background: linear-gradient(145deg, #1a1f4d, #0b0f2c);
  }
  
.main-content {
    flex: 1; /* Remplit l'espace disponible */
    width: 100%;
    max-width: 1200px; /* Limite la largeur sur grands écrans */
    margin: 0 auto; /* Centrage */
  }

  #loading-bar {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: linear-gradient(to right, #f7e268, #FFD700);
    transition: width 0.15s ease-in-out;
    z-index: 1005;
}
